<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="blackhulk-view">
  <template>
    <style>
      paper-toolbar .title {
        line-height: 1.1;
      }

      paper-toolbar.light {
        color: black;
      }

      paper-toolbar.dark {
        color: #eee;
      }

      paper-toolbar .middle.title {
        text-align: center;
        @apply(--paper-font-display1);
      }

      paper-toolbar .middle.title p {
        text-align: center;
        @apply(--paper-font-body1);
      }

      :host ::content paper-scroll-header-panel {
        height: 100%;
      }

      paper-toolbar {
        background-color: transparent;
      }

      paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        --paper-scroll-header-panel-condensed-header: {
          background-color: var(--google-green-300);
        };
      }
    </style>

    <iron-media-query
      query="(max-width: 600px)"
      query-matches="{{small}}"
    ></iron-media-query>

    <paper-scroll-header-panel
      class="fit"
      condenses
      keep-condensed-header
      >

      <paper-toolbar class="tall light">
        <paper-icon-button icon="home"></paper-icon-button>
        <div class="top title">
          Blog title
        </div>

        <div class="middle title">
          Blog title
          <p>Blog Description I am a developer</p>
        </div>
      </paper-toolbar>

      <!--List of posts-->
      <blackhulk-list items="[[data]]"></blackhulk-list>

    </paper-scroll-header-panel>

  </template>

  <script>
    Polymer({
      is: "blackhulk-view",
      properties: {
        data: Object
      }
    })
  </script>
</dom-module>
