<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="blackhulk-view">
  <template>
    <style>
      :host ::content .post {
        @apply(--paper-font-body1);
        width: 50%;
        margin-bottom: 15px;
      }

      :host ::content .post[small-screen] {
        width: 95%;
      }

      :host ::content .title {
        @apply(--paper-font-display1);
      }

      :host ::content .wrapper {
        padding: 10px 15px;
      }

      :host ::content iron-list {
        padding-top: 20px;
      }

      paper-toolbar .title {
        line-height: 1.1;
      }

      :host ::content paper-scroll-header-panel {
        height: 100%;
      }

      paper-toolbar {
        background-color: transparent;
        color: black;
      }

      paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        --paper-scroll-header-panel-condensed-header: {
          background-color: var(--google-green-500);
        };
    }
    </style>

    <iron-media-query
      query="(max-width: 600px)"
      query-matches="{{small}}"
    ></iron-media-query>

    <paper-scroll-header-panel
      class="fit"
      condenses
      keep-condensed-header
      >

      <paper-toolbar class="tall">
        <div class="middle title">
          Blog title
        </div>

        <div class="bottom title">
          Description
        </div>
      </paper-toolbar>

      <iron-list
        items="[[data]]"
      >
        <template>
          <div class="horizontal layout center-center">
            <paper-material
              class="post self-center"
              small-screen$="{{small}}"
            >
              <div class="wrapper">
                <div class="title">[[item.title]]</div>

                <!-- Display as markdown -->
                <marked-element
                  markdown="[[item.content]]"
                >
                  <div class="markdown-html"></div>
                </marked-element>
              </div>
            </paper-material>
          </div>
        </template>
      </iron-list>
    </paper-scroll-header-panel>

  </template>

  <script>
    Polymer({
      is: "blackhulk-view",
      properties: {
        data: Object
      }
    })
  </script>
</dom-module>
