<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Import paper-elements -->
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">

<dom-module id="x-blackhulk">
  <template>
    <style>
    </style>

    <!-- Data -->
    <blackhulk-data
      url="[[url]]"
      data="{{data}}"
    ></blackhulk-data>

    <!-- View -->
    <blackhulk-view
      data="{{data}}"
    ></blackhulk-view>
  </template>

  <script>
    Polymer({
      is: "x-blackhulk",
      properties: {
      }
    })
  </script>
</dom-module>
