<!DOCTYPE html>
<html>
<head>
  <title>Blackhulk</title>
  <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

	<!-- CONFIGURABLE LINK -->
  <link rel="import" href="<%= ELEMENT_PATH %>">
  <%= csrf_meta_tags %>
</head>
<body class="fullbleed">

<%= yield %>

</body>
</html>
